/* ------------------------------------------------------
fonts setup
---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*------------------------------------------------------ 
color setup
------------------------------------------------------ */
:root {
    --primary: #2f8be7;
    --primary-dark: #2045d6;
    --echo: #05A9D0;
    --black: #010101;
    --white: #fff;
    --navbar: #1F2532;
    --body: #1F2532;
    --radial: red;
    --gray-1: #e5e6f0;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body);
    color: var(--white);
    
}

.row {
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------ 
setup components
------------------------------------------------------ */

/*------------------------------------------------------ 
button
------------------------------------------------------ */
.btn {
    border-radius: 100px;
}

.btn-primary {
    background-color: var(--primary);
    font-size: 16px;
}
stream-alexa
.btn-primary:hover {
    background-color: var(--primary-dark);
}

/*------------------------------------------------------ 
navbar
------------------------------------------------------ */
.navbar {
    padding: 32px 0;
    background-color: var(--navbar) !important;
}

.nav-link {
    font-size: 16px;
    color: var(--white);
}

.navbar-toggler {
    background-color: var(--white);
}

/*------------------------------------------------------ 
hero section
------------------------------------------------------ */
section.hero {
    padding: 15px 0;
}


section.hero .text {
    color: var(--white);
    font-weight: 400;
    font-size: 72px;
    line-height: 150px;
}

section.hero .echo {
    color: var(--echo);
}

section.hero .textTwo {
    color: var(--white);
    font-weight: 400;
    font-size: 64px;
    line-height: 57px !important;
    letter-spacing: -0.035em;
}

section.hero .textThree {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    line-height: 97px !important;
    letter-spacing: -0.035em;
}

.buttons-play {
    padding-top: 19px;
}

/*------------------------------------------------------ 
setup section
------------------------------------------------------*/
section.setup .meet-content {

    background: radial-gradient(72.22% 491.8% at 0% 0%, #0E2944 0%, #04101C 76.51%);
    border-radius: 20px;
    padding: 56px 47px;
    gap: 31px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    

}

.meet-start {
    font-weight: 600;
    font-size: 54px;
    line-height: 50px;
    letter-spacing: -0.035em;
    width: 280px;

}

.meet-text{
    font-weight: 600;
    font-size: 18px;
    line-height: 130.19%;
    letter-spacing: -0.035em;
   
}


/* ------------------------------------------------------ 
information section
 ------------------------------------------------------*/
.stream-alexa {    
}
/*------------------------------------------------------
 footer section
 ------------------------------------------------------ */

/*------------------------------------------------------ 
responsive section
------------------------------------------------------*/
@media (max-width: 576px) {

    section.hero,
    section.setup,
    section.information {
        text-align: center;
    }

    /*------------------------------------------------------ 
    navbar
    ------------------------------------------------------ */
    .navbar {
        padding: 20px 0;
    }

    .nav-link {
        margin-left: 0;
    }

    /*------------------------------------------------------ 
    hero section
    ------------------------------------------------------ */
    section.hero .text {
        font-weight: 500;
        font-size: 74px;

    }

    section.hero .textTwo {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px !important;
    }

    section.hero .buttons-play {
        position: relative;
        top: 320px
    }
    section.hero .alexa-img{
        position: relative;
        bottom: 70px
         
    }

    .buttons .btn {
        display: block;
        margin: 1rem 0;
    }

    .buttons .ms-3 {
        margin-left: 0 !important;
    }

    /*------------------------------------------------------ 
    Setup section
    ------------------------------------------------------ */
    section.setup {
        padding: 50px 0;
    }


}