/* ------------------------------------------------------
fonts setup
---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*------------------------------------------------------ 
color setup
------------------------------------------------------ */
:root {
    --primary: #0071E3;
    --primary-dark: #2045d6;
    --echo:#05A9D0;
    --black: #010101;
    --white: #fff;
    --navbar: #1F2532;
    --body: #1F2532;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body);
   
}

/* ------------------------------------------------------ 
setup components
------------------------------------------------------ */

/*------------------------------------------------------ 
button
------------------------------------------------------ */
.btn {
    border-radius: 100px;
}

.btn-primary {
    background-color: var(--primary);
    font-size: 16px;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

/*------------------------------------------------------ 
navbar
------------------------------------------------------ */
.navbar {
    padding: 32px 0;
    background-color: var(--navbar) !important;
}
 
.nav-link{
    font-size: 16px;
    color: var(--white);
}
.navbar-toggler{
    background-color: var(--white);
}

/*------------------------------------------------------ 
hero section
------------------------------------------------------ */
section.hero { 
    padding: 80px 0;
}
section.hero .text {
    color: var(--white);
    font-weight: 400;
    font-size: 74px;
    line-height: 97px;
}
section.hero .echo{
    color: var(--echo);
}
section.hero .textTwo {
    color: var(--white);
    font-weight: 400;
    font-size: 64px;
    letter-spacing: -0.035em;  
}
section.hero .textThree {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    line-height: 97px;
    letter-spacing: -0.035em;
    top

}
.buttons {
    padding-top: 69px;
}
section.hero .alexaSection{
    margin-bottom: 100px !important;
    
}
/*------------------------------------------------------ 
setup section
------------------------------------------------------*/

/* ------------------------------------------------------ 
information section
 ------------------------------------------------------*/

/*------------------------------------------------------
 footer section
 ------------------------------------------------------ */

/*------------------------------------------------------ 
responsive section
------------------------------------------------------*/