/* ------------------------------------------------------
fonts setup
---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*------------------------------------------------------ 
color setup
------------------------------------------------------ */
:root {
    --primary: #2f8be7;
    --primary-dark: #2045d6;
    --echo: #05A9D0;
    --black: #010101;
    --white: #fff;
    --navbar: #1F2532;
    --body: #1F2532;
    --radial: red;
    --gray-1: #e5e6f0;
    --discover: #04101C;
    --disc-title:#0BFCFA;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--body);
    color: var(--white);

}

.row {
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------ 
setup components
------------------------------------------------------ */

/*------------------------------------------------------ 
button
------------------------------------------------------ */
.btn {
    border-radius: 100px;
}

.btn-primary {
    background-color: var(--primary);
    font-size: 16px;
}

.stream-alexa .btn-primary:hover {
    background-color: var(--primary-dark);
}
.btn-glass{
    border:1px solid var(--disc-title);
    color: var(--white);
    font-size: 16px;
}

/*------------------------------------------------------ 
navbar
------------------------------------------------------ */
.navbar {
    padding: 32px 0;
    background-color: var(--navbar) !important;
}

.nav-link {
    font-size: 16px;
    color: var(--white);
}

.navbar-toggler {
    background-color: var(--white);
}
a:hover {
        color:var(--primary) !important;
}
/*------------------------------------------------------ 
hero section
------------------------------------------------------ */
section.hero {
    padding: 15px 0;
}


section.hero .text {
    color: var(--white);
    font-weight: 400;
    font-size: 72px;
    line-height: 150px;
}

section.hero .echo {
    color: var(--echo);
}

section.hero .textTwo {
    color: var(--white);
    font-weight: 400;
    font-size: 64px;
    line-height: 57px !important;
    letter-spacing: -0.035em;
}

section.hero .textThree {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    line-height: 97px !important;
    letter-spacing: -0.035em;
}

.buttons-play {
    padding-top: 19px;
    
}
.icon-play img:hover {
    opacity: 0.1 !important; 	
    
}

.modal-body{
    color: var(--black);
}
.modal-header{
    color: var(--black);
}

/*------------------------------------------------------ 
setup section
------------------------------------------------------*/
.meet-content {

    background: radial-gradient(72.22% 491.8% at 0% 0%, #0E2944 0%, #04101C 76.51%);
    border-radius: 20px;
    padding: 4%;
    display: flex;
    justify-content: space-between !important;
    text-align: justify;
}

.meet-start {
    display: flex;
    width: 280px;
    justify-content: center;
}

.meet-start h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 50px;
    letter-spacing: -0.035em;
}

.meet-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 130.19%;
    letter-spacing: -0.035em;
}

.meet-text-end {
    font-weight: 600;
    font-size: 18px;
    line-height: 130.19%;
    letter-spacing: -0.035em;
}

/* ------------------------------------------------------ 
information section
 ------------------------------------------------------*/
.comand-alexa {

    position: relative;
    width: 316px;
    height: 86px;
    left: 433px;
    top: 200px;

    z-index: 1;

}

.house-alexa {
    filter: drop-shadow(0px 10px 15px #181429);
}

.stream-all {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/*------------------------------------------------------
section experencie
 ------------------------------------------------------ */
.experencie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 491px;
}

.action-experencie {
    background: radial-gradient(36.25% 36.25% at 50% 50%, rgba(0, 113, 227, 0.2) 29.26%, rgba(20, 24, 34, 0.2) 100%);
    border-radius: 20px;
    border: solid 1px var(--echo);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 60px 238px;
    gap: 25px;
}

.action-experencie h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.015em;
}

.action-experencie .experencie-day {
    color:var(--echo);
}

.action-experencie p {
    color: var(--disc-title);
}

/*------------------------------------------------------
section discover
 ------------------------------------------------------ */
.discover {
    background: var(--discover);
}
 
 
.discover-title p {
    
    margin-top: 50px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
}

 
.discover-action h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.035em;
    color: var(--disc-title);
}
.discover-action p {
    width: 239px; 
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.035em;
}

.button-glass {
    margin: 0;
    padding: 0; 
}
/*------------------------------------------------------
section detail
 ------------------------------------------------------ */
.detail-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.035em;
}
.detail-action h5{
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.035em;
    color: var(--disc-title);
}
.detail-action p {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.035em;
    color: var(--white);
   
}
/*------------------------------------------------------
 footer section
 ------------------------------------------------------ */
.footer {
    background-color: var(--discover) !important;
    color: var(--white) !important;
}
.copyright{
    color:var(--white);
}
.text-reset{
    text-decoration: none;
    
}
.text-uppercase{
    width: 250px;
}

/*------------------------------------------------------ 
responsive section
------------------------------------------------------*/
@media (max-width: 576px) {

    section.hero,
    section.setup,
    section.information {
        text-align: center;
    }

    /*------------------------------------------------------ 
    navbar
    ------------------------------------------------------ */
    .navbar {
        padding: 20px 0;
    }

    .nav-link {
        margin-left: 0;
    }

    /*------------------------------------------------------ 
    hero section
    ------------------------------------------------------ */
    section.hero .text {
        font-weight: 500;
        font-size: 74px;

    }

    section.hero .textTwo {
        font-weight: 500;
        font-size: 34px;
        line-height: 40px !important;
    }

    section.hero .buttons-play {
        position: relative;
        top: 320px
    }

    section.hero .alexa-img {
        position: relative;
        bottom: 70px
    }

    .buttons .btn {
        display: block;
        margin: 1rem 0;
    }

    .buttons .ms-3 {
        margin-left: 0 !important;
    }

    /*------------------------------------------------------ 
    Setup section
    ------------------------------------------------------ */
    section.setup {
        padding: 50px 0;
    }


}